<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>DiscountPrice</th>
                <th>Image</th>
            </tr>
                        
            <% if(data.length){ 
                            
            for(var i = 0;i < data.length;i++) { %>
            
            <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].description%></td>
                <td><%=data[i].quantity%></td>
                <td><%=data[i].price%></td>
                <td><%=data[i].discountPrice%></td>
                <%if (data[i].InventionImages) { %>                    
                    <%if (data[i].InventionImages.length > 0) { %>
                        <td><img src=<%=data[i].InventionImages[0].dataValues.image%> /></td>
                    <% } else {%>
                        <td> No images</td>
                    <% } %>
                <% } else {%>
                    <td> No images</td>
                <% } %>
            </tr>
        <% }
        
        }else{ %>
            <tr>
                <td colspan="5">No Data</td>
            </tr>
        <% } %>
                                        
        </table>
    </div>
  </body>
</html>
